@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}
@layer utilities {
  .ant-switch-handle {
    top: 6px !important;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1) !important;
  }
}
